<div class="deafult-input">
    <h1>{{this.uname}}</h1>
    <h2>{{@title}}</h2>
    {{yield}}
    <Input 
        style="border-color: {{this.checkUsername}};"
        @type="text"
        placeholder="username"
        @value={{@username}}
    />
    <br><br>
    <Input 
        @type="password"
        placeholder="password"
        @value={{@password}}
    />
    <br><br>
    {{#if this.showBtn}}
        <button type = "button" {{on "click" @check}}> submit </button>
    {{/if}}
    <br><br><br><br>
</div>