<div id="passbook">

    <div id="sent">

        {{#each @transData.toUpi as |item index|}}


        <div class="sentChild">
            <span class="toUpi">{{item}}</span>

            <span class="amount">{{get @transData.toAmount index}}</span>

            <span class="status">{{get @transData.status index}}</span>

            <span class="time">{{get @transData.toDateAndTime index}}</span>
        </div>
        <br><br>
        {{/each}}

    </div>

    <div id="received">

        {{#each @transData.fromUpi as |item index|}}


        <div class="receivedChild">
            <span class="toUpi">{{item}}</span>

            <span class="amount">{{get @transData.fromAmount index}}</span>

            <span class="time">{{get @transData.fromDateAndTime index}}</span>
        </div>
        <br><br>
        {{/each}}
    </div>
</div>