body {
    font-family: sans-serif;
}

.deafult-input {
    font-family: sans-serif;
    text-align: center;
}

.deafult-input>input {
    height: 5vh;
    line-height: 2vh;
    font-size: 2vh;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
}

.mybutton {
    background-color: #404040;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 2vh;
}

.upiHome {
    text-align: center;
}

.upiInput {
    height: 5vh;
    line-height: 2vh;
    font-size: 2vh;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
}

#passbook {
    display: flex;
    width: 100%;
    text-align: center;
}

#sent {
    width: 50%;
    border-right: 2px solid tomato;
}

.sentChild>span {
    display: inline-block;
    width: 20%;
}

.sentChild:nth-child(even) {
    background-color: azure;
}

#received {
    width: 50%;
}

.receivedChild>span {
    display: inline-block;
    width: 20%;
}

.receivedChild:nth-child(odd) {
    background-color: azure;
}