{{page-title "Home"}}


<div style="height: 30vh;">

    <div style="display: flex;">

        <img src='client/assets/images/userIcon.png' alt="user" {{on "click"
            this.userIcon}}style="width: 7vh; height: 7vh;" />

        <div style="width: 100%; text-align: right;">
            <MyButton @functionCall={{this.logout}} @btnText="Logout" />
        </div>

    </div>

    {{#if this.showDetails}}

        <h3>{{this.userName}}</h3>
        <h3>{{this.upiID}}</h3>
        <h3>Balance: {{this.balance}}</h3>
        <button type="button" {{on "click" this.updatePassword}}>Update Password</button>
        <br><br>
        <button type="button" {{on "click" this.changeAccount}}> Change Account &nbsp;</button>

    {{/if}}


</div>

{{this.sendTo}}

{{this.amt}}



<div class="upiHome">

    <h2>Transfer money</h2>

    {{#if this.verify}}

        <Input class="upiInput" @value={{this.toUpi}} placeholder="Enter UPI id" />

        {{#if this.btn}}

            <br><br><MyButton @functionCall={{this.verifyUPI}} @btnText="Verify" />

        {{/if}}

    {{/if}}

    {{#if this.setAmount}}

        <Input class="upiInput" @type="number" @value={{this.amount}} placeholder="Entere Amount" />

        <br><br><MyButton @functionCall={{this.amountSet}} @btnText="Continue" />

    {{/if}}


    {{#if this.transferMoney}}

        <Input class="upiInput" @type="password" @value={{this.password}} placeholder="Enter password" />

        <br><br><MyButton @functionCall={{this.transferAmount}} @btnText="Send" />

    {{/if}}

    <h3 style="color: red;">{{this.msg}}</h3>

</div>

<br><br><br><br>

<div style="text-align: center;">

    <MyButton @functionCall={{this.transactionButton}} @btnText={{this.transactionBtn}} />

</div>



{{#if this.showTransactions}}

    <div style="display: flex; text-align: center;">

        <h1 style="width: 50%;">Sent</h1>
        <h1 style="width: 50%;">received</h1>
        
    </div>

    <div id="passbook">
        <Transaction @transData = {{this.transDetails}}/>
    </div>
{{/if}}
