{{page-title "UPI"}}
<DeafultInputs 
    @title = "Login"
    @username = {{this.signinUsername}} 
    @password = {{this.signinPassword}} 
    @check = {{this.login}}
    > 
    {{#if this.loginFailed}}
        <p style="color: red;">wrong username or password!!!!</p>
    {{/if}}   
</DeafultInputs>
    

<DeafultInputs
    @title = "Signup"
    @username = {{this.signupUsername}} 
    @password = {{this.signupPassword}} 
    @check = {{this.signup}}
    >
    {{#if this.signupFailed}}
        <p style="color: red;">username already exists!!!!</p>
    {{/if}} 
</DeafultInputs>